.assinatura-cafedas4 {
  display: inline-block;
  height: 17px;
  line-height: 1;
  opacity: 0.2;
  overflow: hidden;
  text-decoration: none;
  transition: opacity .2s, width .2s;
  width: 24px;
}
.assinatura-cafedas4__img {
  display: inline-block;
  fill: #fff;
  float: right;
  height: 17px;
  width: 89px;
}
.assinatura-cafedas4__img__logotipo {
  opacity: 0;
  transition: opacity .2s;
}
.assinatura-cafedas4:focus,
.assinatura-cafedas4:hover {
  opacity: 1;
  text-decoration: none;
  width: 89px;
}
.assinatura-cafedas4:focus .assinatura-cafedas4__img__logotipo,
.assinatura-cafedas4:hover .assinatura-cafedas4__img__logotipo {
  opacity: 1;
}
